<!--
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */
-->
<!--@subject {{trans "Your %store_name password has been changed" store_name=$store.frontend_name}} @-->
<!--@vars {
"var store.frontend_name":"Store Name",
"var store_email":"Store Email",
"var store_phone":"Store Phone",
"var customer.name":"Customer Name"
} @-->
{{template config_path="design/email/header_template"}}
<p class="header-bottom">
    <span>{{trans "Change Password"}}</span>
    <span>{{trans "Confirmation"}}</span>
</p>

<p class="name-text">
    <strong>{{trans "Dear"}} {{trans "%name," name=$customer.name}}</strong>
</p>
<p class="text">
    {{trans "Your password has been updated. Please remember to keep your username and password confidential at all times."}}
</p>
<p class="text">
    <span>{{trans "For inquiries and concerns, you may email us at"}}</span>
    <strong class="email-text">{{var store_email}}</strong>
</p>
<p class="text">
    {{trans "Thank you,"}}
</p>
<p class="text">
    {{trans "Goldilocks Delivery"}}
</p>

{{template config_path="design/email/footer_template"}}
