<?xml version="1.0" ?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <tab id="magenest" translate="label">
            <label>Magenest</label>
        </tab>
        <section id="magenest_email_sender" translate="label" sortOrder="30" showInDefault="1" showInWebsite="1" showInStore="1">
            <label>Email Sender Configuration</label>
            <tab>magenest</tab>
            <resource>Magenest_PendingCod::configuration</resource>
            <group id="general" translate="label" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>Email Sender</label>
                <field id="email_sender" translate="label" type="text" sortOrder="1" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Sender</label>
                    <validate>validate-emailSender</validate>
                </field>
            </group>
        </section>
    </system>
</config>
