<?xml version="1.0"?>

<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <ampreorder>
            <functional>
                <mixed_carts>1</mixed_carts>
            </functional>
        </ampreorder>
    </default>
</config>
