<?xml version="1.0" ?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:etc/menu.xsd">
    <menu>
        <add id="Magenest_AbandonedCart::magenest_abandonedcart"
             title="Magenest AbandonedCart"
             translate="title"
             module="Magenest_AbandonedCart"
             sortOrder="99"
             dependsOnModule="Magenest_AbandonedCart"
             resource="Magenest_AbandonedCart::abandonedcart"
             parent="Magento_Backend::marketing"
        />
        <add id="Magenest_AbandonedCart::rule"
             title="Manage Rules"
             translate="title"
             module="Magenest_AbandonedCart"
             sortOrder="10"
             parent="Magenest_AbandonedCart::magenest_abandonedcart"
             action="abandonedcart/rule/index"
             resource="Magenest_AbandonedCart::rule"
        />
        <add id="Magenest_AbandonedCart::abtestcampaingns"
             title=" A/B Test Campaigns"
             module="Magenest_AbandonedCart"
             sortOrder="15"
             parent="Magenest_AbandonedCart::magenest_abandonedcart"
             action="abandonedcart/abtestcampaigns/index"
             resource="Magenest_AbandonedCart::abtestcampaingns"
        />
        <add id="Magenest_AbandonedCart::abandonedcart"
             title="Abandoned Carts"
             translate="title"
             module="Magenest_AbandonedCart"
             sortOrder="20"
             parent="Magenest_AbandonedCart::magenest_abandonedcart"
             action="abandonedcart/abandonedcart/index"
             resource="Magenest_AbandonedCart::abandonedcart"
        />
        <add id="Magenest_AbandonedCart::logcontent"
             title="Notification Log"
             translate="title"
             module="Magenest_AbandonedCart"
             sortOrder="30"
             parent="Magenest_AbandonedCart::magenest_abandonedcart"
             action="abandonedcart/logcontent/index"
             resource="Magenest_AbandonedCart::logcontent"
        />
        <add id="Magenest_AbandonedCart::blacklist"
             title="Blacklist"
             translate="title"
             module="Magenest_AbandonedCart"
             sortOrder="40"
             parent="Magenest_AbandonedCart::magenest_abandonedcart"
             action="abandonedcart/blacklist/index"
             resource="Magenest_AbandonedCart::blacklist"
        />

        <add id="Magenest_AbandonedCart::cron"
             title="Cron-job Log"
             translate="title"
             module="Magenest_AbandonedCart"
             sortOrder="50"
             parent="Magenest_AbandonedCart::magenest_abandonedcart"
             action="abandonedcart/cron/index"
             resource="Magenest_AbandonedCart::cron"
        />
        <add id="Magenest_AbandonedCart::unsubscribe"
             title="Unsubscribers"
             translate="title"
             module="Magenest_AbandonedCart"
             sortOrder="60"
             parent="Magenest_AbandonedCart::magenest_abandonedcart"
             action="abandonedcart/unsubscribe/index"
             resource="Magenest_AbandonedCart::unsubscribe"
        />
        <add id="Magenest_AbandonedCart::email_template"
             title="Email Templates"
             module="Magenest_AbandonedCart"
             sortOrder="70"
             parent="Magenest_AbandonedCart::magenest_abandonedcart"
             action="adminhtml/email_template/"
             resource="Magenest_AbandonedCart::email_template"
        />
        <add id="Magenest_AbandonedCart::config_abandonedcart"
             title="Configuration"
             module="Magenest_AbandonedCart"
             sortOrder="80"
             parent="Magenest_AbandonedCart::magenest_abandonedcart"
             action="adminhtml/system_config/edit/section/abandonedcart/"
             resource="Magenest_AbandonedCart::config_abandonedcart"
        />
        <add id="Magenest_AbandonedCart::abcreport"
             title="Abandoned Cart Dashboard"
             module="Magenest_AbandonedCart"
             sortOrder="90"
             parent="Magenest_AbandonedCart::magenest_abandonedcart"
             action="abandonedcart/report/index"
             resource="Magenest_AbandonedCart::abcreport"
        />
        <add id="Magenest_AbandonedCart::abcreportcampaign"
             title="A/B Test Campaign Dashboard"
             module="Magenest_AbandonedCart"
             sortOrder="110"
             parent="Magenest_AbandonedCart::magenest_abandonedcart"
             action="abandonedcart/report/campaign"
             resource="Magenest_AbandonedCart::abcreportcampaign"
        />
        <add id="Magenest_AbandonedCart::abcchartemail"
             title="Email Campaign Dashboard"
             module="Magenest_AbandonedCart"
             sortOrder="120"
             parent="Magenest_AbandonedCart::magenest_abandonedcart"
             action="abandonedcart/report/emailChart"
             resource="Magenest_AbandonedCart::abcchartemail"
        />
    </menu>
</config>