<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <magenest_optimizeimage>
            <utility>
                <enabled>0</enabled>
                <jpg>jpegoptim</jpg>
                <jpg_options>-m70 -s70% %filepath%</jpg_options>
                <png>pngquant</png>
                <png_options>--skip-if-larger -f --quality 70 --speed 3 --output %filepath% %filepath%</png_options>
            </utility>
        </magenest_optimizeimage>
    </default>
</config>
