<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <customer>
            <advancedlogin>
                <telephone_login_enable>1</telephone_login_enable>
                <email_suffix>@email.com</email_suffix>
            </advancedlogin>
        </customer>
    </default>
</config>
