<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <tab id="magenest" translate="label" sortOrder="200">
            <label>Magenest</label>
        </tab>
        <section id="magenest_email_wishlist" translate="label" type="text" sortOrder="250" showInDefault="1"
                 showInWebsite="1" showInStore="1">
            <label>Email Wishlist</label>

            <tab>magenest</tab>
            <resource>Magenest_EmailWishList::email_wishlist</resource>
            <group id="setting" translate="label" sortOrder="20" showInDefault="1" showInWebsite="0" showInStore="0">
                <label>Setting</label>
                <field id="email_sender_wishlist" translate="label" sortOrder="10" type="text" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Email Sender</label>
                </field>
                <field id="auto_send_email_wishlist" translate="label" type="text" sortOrder="20" showInDefault="1"
                       showInWebsite="0" showInStore="0">
                    <label>Time to be send email when customer not update wishlist</label>
                    <comment>Default is 1 hours</comment>
                    <validate>validate-number validate-zero-or-greater</validate>
                </field>
                <field id="email_wishlist" translate="label comment" type="select" sortOrder="2" showInDefault="1" showInWebsite="1" showInStore="1" canRestore="1">
                    <label>Template email</label>
                    <comment>Email template chosen based on theme fallback when "Default" option is selected.</comment>
                    <source_model>Magento\Config\Model\Config\Source\Email\Template</source_model>
                    <depends>
                        <field id="enabled">1</field>
                    </depends>
                </field>
            </group>
        </section>
    </system>
</config>
