<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Acl/etc/acl.xsd">
    <acl>
        <resources>
            <resource id="Magento_Backend::admin">
                <resource id="Magento_Backend::stores">
                    <resource id="Magento_Backend::stores_settings">
                        <resource id="Magento_Config::config">
                            <resource id="Acommerce_Gtm::GoogleTagManagerSettings" title="WeltPixel GoogleAnalyticsEnhancedEcommerce" sortOrder="300" />
                        </resource>
                    </resource>
                </resource>
                <resource id="Acommerce_All::acommerce" title="accomerce_all">
                    <resource id="Acommerce_Gtm::GoogleTagManager" sortOrder="60" title="GoogleAnalyticsEnhancedEcommerce" />
                </resource>
            </resource>
        </resources>
    </acl>
</config>
