<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="Magento\Framework\View\Element\UiComponent\DataProvider\CollectionFactory">
        <arguments>
            <argument name="collections" xsi:type="array">
                <item name="queue_consumer_listing_data_source" xsi:type="string">Magenest\ServicesUi\Model\ResourceModel\Queue\Consumer\Collection</item>
                <item name="queue_cron_listing_data_source" xsi:type="string">queue_cron_collection</item>
            </argument>
        </arguments>
    </type>
    <virtualType name="queue_cron_collection" type="Magento\Framework\View\Element\UiComponent\DataProvider\SearchResult">
        <arguments>
            <argument name="mainTable" xsi:type="string">cron_schedule</argument>
            <argument name="resourceModel" xsi:type="string">Magento\Cron\Model\ResourceModel\Schedule</argument>
        </arguments>
    </virtualType>
</config>
