<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <!--    Fix slow rendering image: Add cache, change rendering all cache image to one image-->
    <preference for="Magento\MediaStorage\Service\ImageResize" type="Magenest\ImproveMagentoCatalog\Service\ImageResize" />
</config>
